@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* box-shadow: 0 0 2px #f00; */
}

/* 
body{
    background-color: rgb(199, 199, 199);
} */

:root {
    --bg-back-rosa: background-color: rgb(241, 183, 177);
}

a {
    text-decoration: none;
}

a img {
    width: 100%;
    vertical-align: middle;
    border: none;
}

img {
    width: 100%;
    border: none;
}

.background-login {
    background: rgb(210, 55, 55);
    background: linear-gradient(90deg, rgba(210, 55, 55, 1) 0%, rgba(240, 189, 234, 1) 46%, rgba(198, 38, 133, 1) 100%);
    width: 100vw;
    max-height: 100vh;
}


/* --- */
/* MSG ERRO */
/* --- */
.message {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #eee;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
}

.message.warning {
    background-color: #fff3cd;
    color: #3e606d;
    border: 1px solid #cab15d;
}

.message.success {
    background-color: #d1e7dd;
    color: #19382a;
    border: 1px solid #4beba3;
}

.message.danger {
    background-color: #f8d7da;
    color: #461317;
    border: 1px solid #db8b92;
}

.message.alert {
    background-color: #cff4fc;
    color: #4b5132;
    border: 1px solid #5c9fad;
}